/* Copyright (C) 2020-2025 Aditya Shakya <adi1090x@gmail.com> */

/* Colors */

* {
    background:     #090A0B;
    background-alt: #141719;
    foreground:     #E6DFE0;
    selected:       #b8543e;
    active:         #98c379;
    urgent:         #e06c75;
}
